.container {
  padding: 16px 0;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskTitle {
  width: 100%;
  font-weight: 500;
}

.resolveBtn{
  background: none; 
  border: none;
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.20),
    0 0 0 1px rgba(255, 255, 255, 0.10),
    0 4px 30px rgba(0, 0, 0, 0.15); 
}
